.page.p-5.main-index
  | main page
  .jquery-test
    i.fa-solid.fa-user
    i.fa-regular.fa-user
    i.fa-brands.fa-github-square
  .mouse-position
    | mouse position: ( x: {{ mouseX }}, y: {{ mouseY }} )
  .hmr-context
    | 문자 추가 테스트 hmr가 된다!