version: '3'
services:
  alfred_admin:
    user: "1001:1001"
    build:
      context: .
      dockerfile: config/docker/development/Dockerfile.alpine
    volumes:
      - ./app:/var/www/app
      - ./bin:/var/www/bin
      - ./config:/var/www/config
      - ./public:/var/www/public
      - ./vendor:/var/www/vendor
    ports:
      - "10000:80"
    hostname: alfred-admin
    container_name: alfred-admin
