#alfred-side.side-layout.bg-gradient-to-br.from-indigo-500.to-sky-500.w-20.flex.flex-col
  .side-header.text-md.font-black.text-white.text-center.leading-none.py-3.h-14
    | ALFRED
    br
    | ADMIN
  .side-menu.flex-1.pt-10
    ul.menu-list
      li.menu-item(v-for="menu in menuList")
        .menu-wrapper.group.relative
          router-link(:to="menu.path" v-if="menu.children.length <= 0")
            .icon-wrapper.text-white.text-2xl.text-center.py-2.transition-bg.ease-in-out.duration-200.relative(class="group-hover:text-sky-500 group-hover:bg-white")
              i(:class="menu.icon")
              .children-chevron.text-xs.absolute(class="right-3 top-1/2 -translate-y-1/2" v-if="menu.children.length > 0")
                i.fa-solid.fa-chevron-left
          .icon-wrapper.text-white.text-2xl.text-center.py-2.transition-bg.ease-in-out.duration-200.relative(v-else class="group-hover:text-sky-500 group-hover:bg-white")
            i(:class="menu.icon")
            .children-chevron.text-xs.absolute(class="right-3 top-1/2 -translate-y-1/2" v-if="menu.children.length > 0")
              i.fa-solid.fa-chevron-left
          .menu-side.absolute.left-full.top-0.w-0.transition-all.duration-75.-translate-x-4.overflow-hidden.opacity-0(class="group-hover:w-44 group-hover:translate-x-0 group-hover:overflow-visible group-hover:opacity-100")
            .menu-side-wrapper.w-full.py-3.bg-white.rounded.shadow-xl.ring-1.ml-1
              .menu-name.text-center(:class="menu.children.length > 0 ? 'font-bold' : ''") {{ menu.name }}
              ul.sub-menu-list.pt-2(v-if="menu.children.length > 0")
                li.sub-menu-item(v-for="sub in menu.children")
                  router-link.sub-menu-wrapper.py-2.px-7.flex.flex-row.items-center(:to="sub.path" class="hover:bg-gradient-to-bl hover:from-blue-500 hover:to-sky-300 hover:bg-blue-100 hover:text-white")
                    i.mr-4(:class="sub.icon")
                    | {{ sub.name }}
  .side-footer
    .menu-wrapper
      router-link(to="/")
        .icon-wrapper.text-white.text-2xl.text-center.py-3.transition-bg.ease-in-out.duration-200(class="hover:text-sky-500 hover:bg-white")
          i.fa-solid.fa-gear